div {
    width: 400px;
    height: 400px;
    background-image: url("flor_de_lotus.png");
    background-size: cover;

    font-style: italic;
    font-size: 50px;
    color: blue;
    font-weight: bold;
    text-align: center;

    padding: 10px;

    border: 8px solid rgb(30, 1, 41);
    margin-top: 100px;
    margin-left:600px;

    outline: 10px double black;
    border-radius: 10px;

    box-shadow: inset 8px 8px 8px 8px lightblue;
  }